/*.heading {*/
    /*font-size: 3em;*/
    /*padding: 2em;*/
/*}*/

/*table {*/
    /*border-collapse: collapse;*/
    /*border: solid 4px darkgray;*/
    /*margin: 3em;*/
/*}*/

/*td {*/
    /*border: solid 1px darkgray;*/
    /*padding: 0.5em;*/
/*}*/

.table {
    width: 300px;
}

body {
    padding: 3em;
}

.weak {
    color: darkgray;
}