body {
  font-size: 150%
}

.App {
  margin: 4em;
}

.banner {
  margin-left: 3em;
}

.table {
    width: 100px;
    margin-left: 3em;
}

.weak {
    color: darkgray;
    white-space: nowrap;
}

.strong {
  font-weight: 900;
}

.weight-input {
    width: 40px;
}

.cell-display-red {
  background-color: #ffb3b3;
}

.cell-display-green {
  background-color: #c5d4c4;
}
